@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400,500;600&display=swap");

body {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input::placeholder {
  color: #999;
}

select {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

:focus {
  outline: none;
}

.react-date-picker__wrapper {
  border: 0 !important;
}

.react-date-picker__inputGroup {
  padding: 0 !important;
  font-size: 20px;
}

.react-date-picker__inputGroup__input {
  color: #999;
  font-weight: 500 !important;
}

.react-calendar__navigation button,
.react-calendar button,
.react-calendar__month-view__weekdays {
  font-family: "Montserrat";
  font-weight: 500;
  color: #666;
}

.react-calendar__tile--active {
  background-color: #ccc !important;
}

.datePicker {
  width: 100%;
  border: none;
  color: #999;
  font-size: 20px;
}

.select-style {
  background-image: url('assets/images/select-arrow.png');
  background-repeat: no-repeat;
  background-position: 95% center;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: #ebebeb;
  border: 1px solid #d7d7d7;
}

.checkbox input:checked~.checkmark {
  background-color: #ebebeb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 11px;
  top: 4px;
  width: 8px;
  height: 15px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background: transparent !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 !important;
}

.css-6t5f1e-MuiDayPicker-monthContainer,
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root,
.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
  font-family: "Montserrat" !important;
}

.css-6t5f1e-MuiDayPicker-monthContainer {
  font-size: 16px;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root,
.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
  font-size: 16px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: rgb(153, 153, 153) !important;
  width: 100%;
  font-size: 20px !important;
  border: 0px;
  font-weight: 500 !important;
  font-family: 'Montserrat' !important;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: transparent;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #666 !important;
}

.css-1agwlm6-MuiFormControl-root-MuiTextField-root input::placeholder {
  color: #999 !important;
  opacity: 1;
}

 /* Country select with input field */
 .mobile-no {
  display: flex;
  position: relative;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.mobile-no .country-code {
  display: flex;
  width: 20%;
  justify-content: center;
  border-right: 1px solid #D9D9D9;
  align-items: center;
  gap: 0 5px;
  cursor: pointer;
}

.mobile-no .country-code .code {
  font-size: 17px;
}

.mobile-no .country-code .arrow {}

.mobile-no .dropdown {
  border: 1px solid #DFE0E4;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: calc(100% + 2px);
  top: 50px;
  left: -1px;
  background-color: #fff;
  transition: 0.3s;
}

.mobile-no .dropdown.active {
  opacity: 1;
  visibility: visible;
  top: 65px;
}

.mobile-no .dropdown .item {
  display: flex;
  padding: 13px 20px;
  align-items: center;
  gap: 0 30px;
  transition: 0.3s;
}

.mobile-no .dropdown .item:hover {
  cursor: pointer;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.mobile-no .dropdown .item .flag img {
  display: block;
}

.mobile-no input {
  width: 80%;
  border: 0;
  padding: 25px 15px;
  font-size: 17px;
}

/* Media queries */

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
  .mobile-no .country-code {
    width: 10%;
  }

  .mobile-no input {
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobile-no .country-code .code {
    font-size: 17px;
  }

  .mobile-no .country-code {
    width: 18%;
  }

  .mobile-no input {
    width: 90%;
  }
}
.error-message{
  color: #ef8822;
  font-size: 16px;
  width: 100%;
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}