@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400,500;600&display=swap");

body {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

:focus {
  outline: none;
}

.react-date-picker__wrapper {
  border: 0 !important;
}

.react-date-picker__inputGroup {
  padding: 0 !important;
  font-size: 20px;
}

.react-date-picker__inputGroup__input {
  color: #999;
  font-weight: 500 !important;
}

.react-calendar__navigation button,
.react-calendar button,
.react-calendar__month-view__weekdays {
  font-family: "Montserrat";
  font-weight: 500;
  color: #666;
}

.react-calendar__tile--active {
  background-color: #ccc !important;
}

.datePicker {
  width: 100%;
  border: none;
  color: #999;
  font-size: 20px;
}

.select-style {
  background-image: url('assets/images/select-arrow.png');
  background-repeat: no-repeat;
  background-position: 95% center;
}